.one {
    background-color: blueviolet;
}

.two {
    background-color: tomato;
}

.three {
    background-color: cornflowerblue;
}

.four {
    background-color: goldenrod;
}

.five {
    background-color: aqua;
}

.six {
    background-color: chocolate;
}

.seven {
    background-color: crimson;
}

.eight {
    background-color: orangered;
}

.nine {
    background-color: darkcyan;
}

.ten {
    background-color: darkolivegreen;
}

.eleven {
    background-color: fuchsia;
}

.twelve {
    background-color: indigo;
}